@import url(../../public/vendor/fontawesome-free/css/all.min.css);
@import url(../../public/vendor/boxicons/css/boxicons.min.css);
@import url(../../public/css/style.css);




* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #021002;
  font-family: "Poppins" !important;
}

body {
  color: rgb(var(--foreground-rgb));
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.search_section label {

}


.product_section {
  padding: 100px 0px; 
  background: url("../../public/img/slide-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.search_section input {
  padding: 3px;
  border: 1px solid #ccc;
}


.search {
    width: 25%;
    /* box-shadow: 2px 2px 2px #ccc; */
    padding: 10px 0px;
    margin: 20px 0px;
}

.search_section form input, .filter_section form select{
  box-shadow: 2px 2px 6px 5px #ccc;
  background-color: #fff;
  padding: 10px 20px;
}

.search_section {
  margin: 11px 0px;
}
.details_card .card-body {
  font-size: 14px;
}

.details-btn {
    background: #3EB5AA;
    color: #fff;
    border-radius: 4px;
    padding: 8px 25px;
    white-space: nowrap;
    border: none;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
}

.search-filter {
  display: flex;
  justify-content: space-between;
}

.search_section label, .filter_section label {
  padding: 9px 0px;
    color: #136d65;
    display: block;
    font-weight: 600;

}

.swiper-pagination {
  top: 190px !important;
}

#hero {
  width: 100%;
  height: 80vh;
  background: url(../../public/img/Qonaq-Header.png) top center;
  background-size: cover;
  background-repeat: no-repeat;

}

#footer .footer-top {
  
  background: url(../../public/img/about-us-footer.png) top center;
  
  color: #fff;
  background-repeat: no-repeat;
}

#about-us {

  background: url(../../public/img/qonaq-about-us.jpg) top center;
  background-size: cover;
  color: #000;
  background-repeat: no-repeat;

}

.image_slide img {
  margin: 20px auto;
  text-align: center;
  display: block;
}

.section_slider {
  width: 70%;
  margin: auto;
  text-align: justify;
}

.sticky  #header{

  background-color: #fff !important; }


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.map_width {
  width: 100%;
  height: 400px;
}

.faq_stick_button.sticky_button {

  top:29%;
  margin-right:-10px;
}

.bgimage {
  height: 90vh;
  background: url(../../public/img/features.jpg) top center;
  background-size: cover;
}



.sticky_button {
  position: fixed;
  right: 0px;
  z-index: 99999;
  top: 40%;
  background-color:#3eb5aa;
  padding:10px 15px;
  color: #fff;
  cursor: pointer;

}

:root {
  --swiper-theme-color: #3EB5AA;
}
:root {
  --swiper-navigation-color: #3EB5AA;
}
:root {
  --swiper-pagination-color: #3EB5AA;
}
.swiper-button-next, .swiper-button-prev {
  color: #3EB5AA !important;
}

.loader_class .gZmPOF {
  display: block !important;

}
  .loader_class {
    position: fixed;
    z-index: 999;
    left: 0px;
    right: 0px;
    text-align: center;
    height: 100vh;
    background-color: #f7f7f7cf;
    padding-top: 100px;

}
#shadow-host-companion{
  display:none;
}